[submodule "work-springcloud-eureka"]
	path = work-springcloud-eureka
	url = https://github.com/beyondLi71/work-springcloud-eureka.git
[submodule "work-springcloud-feign-two"]
	path = work-springcloud-feign-two
	url = https://github.com/beyondLi71/work-springcloud-feign-two.git
[submodule "work-springcloud-feign-first"]
	path = work-springcloud-feign-first
	url = https://github.com/beyondLi71/work-springcloud-feign-first.git
